.tech__tabs {
  @include respond(tab-port-sm) {
    display: flex;
    column-gap: 3rem;
  }
  .tab__item--big-circle {
    cursor: pointer;
    width: min(8vw, 8rem);
    height: min(8vw, 8rem);
    border: 1.5px solid rgba($white, 0.5);
    border-radius: 50%;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.5s;

    @include respond(tab-port-sm) {
      width: 5.5rem;
      height: 5.5rem;
    }
    span {
      color: rgba($white, 1);
      transition: color 0.5s;
    }
    &:hover,
    &-active {
      background-color: rgba($white, 1);
      span {
        color: #000;
      }
    }
  }
}
.tech__content {
  font-size: 1.8rem;
  &--heading {
    text-transform: uppercase;
  }
  &--term-name {
    @media screen and (max-width: 1500px) {
      font-size: 4rem;
    }
    @include respond(tab-land-sm) {
      font-size: 3.2rem;
    }

    @include respond(phone) {
      font-size: 2.8rem;
    }
  }
  &--term-details {
    @include respond(tab-land-sm) {
      font-size: 2.2rem;
    }

    @include respond(tab-port-sm) {
      width: 80%;
      margin: 0 auto;
      font-size: 2.45rem;
    }
    @include respond(phone) {
      font-size: 2.25rem;
      width: 90%;
    }
  }
}
