.homepage {
  min-height: 100vh;
  background-repeat: no-repeat;
}
.container--homepage {
  min-height: inherit;
  background: url('/assets/home/background-home-desktop.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  padding: 2rem 0 0 2rem;
  position: relative;
  z-index: 2;
  @include respond(tab-port-sm) {
    background: url('/assets/home/background-home-tablet.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 65%;
  }
  @include respond(phone) {
    padding: 0 0 0 1.5rem;
  }
}

.homepage {
  &__layout {
    padding: 0 10rem;
    @include respond(phone) {
      padding: 0;
    }
  }
  .hero__box {
    &--heading {
      text-transform: uppercase;
      @include respond(tab-port-sm) {
        margin-top: -2rem;
      }
      @include respond(phone) {
        font-size: 11.43rem;
      }
    }
    &--sub-heading {
      text-transform: uppercase;

      @include respond(tab-port-sm) {
        font-size: 2.86rem;
      }
      @include respond(phone) {
        margin-bottom: min(2vh, 2.5rem);
        font-size: 2.29rem;
      }
    }
    &--para {
      font-size: 1.8rem;
      width: 65%;
      @media screen and (max-width: 986px) {
        width: 100%;
      }

      @include respond(tab-port-lg) {
        width: 90%;
      }
      @include respond(tab-port-sm) {
        width: 100%;
        font-size: 2.29rem;
        margin: 0 auto;
        margin-top: -2rem;
      }
      @include respond(phone) {
        width: 90%;
        font-size: 2.15rem;
      }
    }
  }
}
